{% extends 'catalog/base.html' %}
{% load static %}
{% load library %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Oleg's store</h1>
        <p class="lead">Oleg's store - это отличный вариант покупки свежих продуктов в Турции и Казахстане</p>


        {% for object in object_list %}
<p>{{ object.name }}</p>
<p>{{object.info|truncatewords:30}}</p>
<p>{{ object.price}}</p>
            <img src="{{ MEDIA_URL }}{{ object.image}}" >
            <img src="{{ object.image|lololobebebe }}" >
            <img src="{% dzhaga_dzhaga object.image %}" >



        {% endfor %}
    </div>
</div>
{% endblock %}